@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    #comp-ihpx2cmf {
        width: 100%;
    }

    #cantact-form {
        width: 100%;
    }

    #comp-ig96e99p,
    #contact-form-container {
        flex-direction: column;
        align-items: center;
    }

    #gmap-container {
        display: flex;
    }

    .header-container {
        display: none;
    }

    #footer {
        justify-content: space-around;
        flex-direction: column;
    }

    #about-container {
        padding: 10px 0;
        margin-top: 64vh;
    }

    .about-header {
        font-size: x-large;
        padding: 0 5px;
        margin-bottom: 0;
        margin-left: 10px;
    }

    .about-header+div {

        margin-left: 10px;
    }

    .header-border {
        margin-bottom: 1.5rem;
        display: revert;
    }

    #contact-section {
        align-items: flex-start;
    }

    .about-text {
        padding: 0 10px;
    }

    #solution-section {
        align-items: flex-start;
    }

    .section-header {
        margin-top: 50px;
        margin-left: 10px;
    }

    .section-header h2 {
        font-size: xx-large;
    }

    #form-btn {
        left: 181px;
    }

    #comp-ihpx2cmf {

        margin-top: 23vh;
    }

    #comp-ihpx2cmf h1 {
        font-size: xx-large;
    }

    #address-container {
        align-items: center;
        margin-top: 50px;
    }

    .address-dtls {
        text-align: center;
    }

    .mobile-header-container {
        display: flex;
        background-color: rgba(237, 205, 31, 0.85);
        height: 60px;
        width: 100%;
        font-size: large;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-header-container a {
        text-decoration: none;
        color: black;
    }

    .mobile-header-container a:visited {
        color: black;
    }

    .mobile-header-container a:active {
        color: black;
    }

    #mobilemainNav {
        display: none;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        background-color: rgba(237, 205, 31, 1);
        position: fixed;
    }

    .mlink-container {
        list-style: none;
        width: 100%;
        height: 40%;
        padding: 0 25%;
        align-content: center;
        justify-content: space-around;
        background-color: transparent !important;
        font: var(--font_7);
        font-size: large;
        color: white;
    }

    .cancel {
        font-size: xx-large;
        text-align: right !important;
        padding-bottom: 50px;
        padding-right: 20px;

    }

    .nav-btn p {
        width: 100%;
        height: 100%;
        color: white;
    }
}